:root {
  --brand-color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  width: calc((100% - 48px) / 3);
  margin-bottom: 0;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

.link-logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  padding: 24px 0;
}
.logo-web {
  color: #2e2f42;
}

.link-logo-web {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-web-link {
  color: #f4f4fd;
  text-decoration: none;
}

.link-photo-portfolio {
  text-decoration: none;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  gap: 40px;
}

.header-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.header-link:hover {
  color: #404bbf;
  text-decoration: underline;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-link{
  padding: 24px 0
}

.nav-list {
  display: flex;
  gap: 40px; 
}

.contact-paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-right: 0;
}

.contact-paragraf:hover,
.contact-paragraf:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.peculiarity,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
}

/* ADDRESS */

.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card-list{
  width: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 48px;
  padding-bottom: 24px;
  padding: 24px 0;
  margin-right: 40px;
}

.project-card-tel {
  margin-right: 0;
}

.project-card{
  border-radius: 0px 0px 4px 4px;
  margin-right: 24px;
  margin-bottom: 48px; 
}

.chapter-our-team-bg {
  padding: 120px 0;
}

/* paragraf */

.discription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  
}
.section-on{
display: flex;
gap: 24px; 
}

.section-advant {
  padding: 120px 0;
}

.advant-item {
  width: calc((100%-72px) / 4);
}

.team {
  padding-bottom: 120px;
}

.title-all {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
  margin-bottom: 72px;
}

.profession {
  text-align: center;
}

.team-imployee {
  padding: 32px 16px;
}

.names-of-specialists {
  text-align: center;
  margin-bottom: 8px;
}

.main-title-bg {
  text-align: center;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  padding: 188px 0;
  background-color: var(--brand-color);
}

.main-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

/* Button */

.filters-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;

  color: #4d5ae5;

  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  border: 1px solid transparent;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: #404bbf;
}

.button-main-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  height: 56px;
  left: 20px;
  top: 20px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  margin: 0 auto;
}

.button-main-title:hover,
.button-main-title:focus {
  background: #404bbf;
}

/* footer */

.footer-bg {
  padding: 100px 0;
  width: 1440px;
  height: 310px;
  left: 0px;
  top: 2280px;

  background-color: var(--brand-color);
}

.footer-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  max-width: 264px;
  margin-top: 18px;
}

.portfolio-title {
  margin-bottom: 8px;
}
.section-portfolio {
  padding: 96px 0 120px;
}
