:root {
  --brand-color: #2e2f42;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  row-gap: 48px;
  column-gap: 24px;
}
li {
  flex-basis: calc((100% - 48px) / 3);
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

.link-logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo-web {
  color: #2e2f42;
}

.link-logo-web {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-web-link {
  color: #f4f4fd;
  text-decoration: none;
}

.link-photo-portfolio {
  text-decoration: none;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.header-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.header-link:hover {
  color: #404bbf;
  text-decoration: underline;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-link {
}

.header-link-address {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-link-address:hover,
.header-link-address:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.project-card {
  width: calc((100% - 48px) / 3);
}

.content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
}

/* ADDRESS */

.card-set {
  display: flex;
}

.project-card {
  margin-right: 40px;
}
.project-card-tel {
  margin-right: 0;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* paragraf */

.discription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.title-all {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}

.names-of-specialists {
  letter-spacing: 0.02em;
}

.main-title-bg {
  text-align: center;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;

  background-color: var(--brand-color);
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;

  width: 511px;
  padding: 188px 472px 48px 472px;
}
/* Button */

.filters-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;

  color: #4d5ae5;

  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  border: 1px solid transparent;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: #404bbf;
}

.button-main-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 169px;
  height: 56px;
  left: 20px;
  top: 20px;
  background-color: #4d5ae5;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.button-main-title:hover,
.button-main-title:focus {
  background: #404bbf;
}

/* saction 2  */

.peculiarity {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: var(--brand-color);
}

.peculiarity-details {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.chapter-our-team-bg {
  background: #f4f4fd;
}

.highlight-photo {
  background: #ffffff;
  width: 264px;
  height: 380px;
}

.names-of-specialists {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: var(--brand-color);
}

.profession {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.footer-bg {
  width: 1440px;
  height: 310px;
  left: 0px;
  top: 2280px;

  background-color: var(--brand-color);
}

.footer-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  max-width: 264px;
  margin-top: 18px;
}

/* PORTFOLIO */

.filters-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #4d5ae5;

  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.filters-btn:hover {
  background: #404bbf;
  color: #ffffff;
}

.photo-caption {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.viem-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
